/*TODO:
navbar 1 item
#home 2 item
*/

/*Navbar applied to all 3 pages*/

.siteheader {
  background-color: #FFFFFF;
  display: flex;
  align-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}
#logo {
  background-image: url("./images/bent-creek-logo.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.navul {
  display: flex;
  list-style-type: none;
}
.navli a:link {
  padding-right: 85px;
  /*padding-left: 30px;*/
	font-family: 'Roboto', serif;
	font-size: 15px;
	color: #2B2F26;
}
.navli a:hover {
	font-family: 'Roboto', serif;
	font-size: 15px;
	color: #CD5D67;
}
.navli a:active {
	font-family: 'Roboto', serif;
	font-size: 15px;
	color: #968772;
}

/*TODO: Still need to make "active" navbar highlight color: #968772; because it won't highlight correctly*/

#home .main {
  width: 100%;
  background: #F2F1E8;
  padding-top: 30px;
  color: #131511;
  font-family: 'Merriweather', serif;
}
#home .title {
  text-align: center;
}
#home .title h1 {
  font-size: 50px;
  font-weight: 400;
}
#home .title h3 {
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 60px;
}
#home p {
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  /*background-color: #303030;*/
}
/*TODO: paragraph background colors*/

#home .products {
  /*margin: 10px 10px 10px 10px;
  width: 95%;
  height: 60%;*/
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  /*justify-content: center;*/
}

/*TODO: images zoom when expanding and shrinking the page - need to make them uniform*/

#home .product1 {
  background-image: url("./images/product-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-basis: 60%;
  flex-grow: 3;
  flex-shrink: 3;
  height: 360px;
  margin-right: 15px;
  margin-top: 15px;
  /*margin-right: 5px;*/
  /*height: 370px;
  width: 730px;*/
}
#home .product2 {
  background-image: url("./images/product-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-basis: 18%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 360px;
  margin-right: 15px;
  margin-top: 15px;
  /*margin-right: 5px;*/
}
#home .product3 {
  background-image: url("./images/product-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-basis: 18%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 360px;
  margin-top: 15px;
  margin-right: 15px;
  /*margin-right: 5px;*/
}
#home .product4 {
  background-image: url("./images/product-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-basis: 18%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 230px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  /*margin-right: 5px;*/
}
#home .product5 {
  background-image: url("./images/product-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-basis: 18%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 230px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  /*margin-right: 5px;*/
}
#home .product6 {
  background-image: url("./images/product-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-basis: 39%;
  flex-grow: 2;
  flex-shrink: 2;
  height: 230px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  /*margin-right: 5px;*/
}
#home .product7 {
  background-image: url("./images/product-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  display: flex;
  flex-basis: 18%;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  /*margin-right: 5px;*/
}
#home footer {
  height: 100px;
  color: #FFFFFF;
  background-color: #303030;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}


#about .midimage {
  background-image: url(./images/background-3.jpg);
  color: #FFFFFF;
}
#about footer {
  margin-top: 10px;
  color: #FFFFFF;
  background-color: #303030;
}

#newsletter {
  background-image: url(./images/background-2.jpg);
}
#newsletter .signup {
  background-color: #FFFFFF;
}
