/*TODO:
*BONUS implementation
*/

/*--------------------Start of navbar section-----------------*/

.siteheader {
  background-color: #FFFFFF;
  display: flex;
  align-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 10px 0px;
}
#logo {
  background-image: url("./images/bent-creek-logo.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.navul {
  display: flex;
  list-style-type: none;
}
.navli a:link {
  padding-right: 85px;
	font-family: 'Roboto', serif;
	font-size: 15px;
	color: #2B2F26;
}
.navli a:hover {
	font-family: 'Roboto', serif;
	font-size: 15px;
	color: #CD5D67;
}


/*-------------------Start of #home section-------------------*/


#home main {
  width: 100%;
  background: #F2F1E8;
  padding-top: 30px;
  color: #131511;
  font-family: 'Merriweather', serif;
}
#home .active {
  color: #968772;
}
#home .title {
  text-align: center;
  padding-top: 15px;
}
#home .title h1 {
  font-size: 50px;
  font-weight: 400;
}
#home .title h3 {
  font-size: 30px;
  font-weight: 200;
}


#home p {
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  background-color: #303030;
  padding: 10px;
}

#home .products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  /*justify-content: center;*/
}

#home .product1 {
  background-image: url("./images/product-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-basis: 60%;
  flex-grow: 3;
  flex-shrink: 3;
  height: 360px;
  margin-right: 15px;
  margin-top: 15px;
  align-items: flex-end;
}
#home .product2 {
  background-image: url("./images/product-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-basis: 18%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 360px;
  margin-right: 15px;
  margin-top: 15px;
  align-items: flex-end;
}
#home .product3 {
  background-image: url("./images/product-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-basis: 18%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 360px;
  margin-top: 15px;
  align-items: flex-end;
}
#home .product4 {
  background-image: url("./images/product-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-basis: 18%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 230px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: flex-end;
}
#home .product5 {
  background-image: url("./images/product-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-basis: 18%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 230px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: flex-end;
}
#home .product6 {
  background-image: url("./images/product-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-basis: 39%;
  flex-grow: 2;
  flex-shrink: 2;
  height: 230px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: flex-end;
}
#home .product7 {
  background-image: url("./images/product-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 230px;
  display: flex;
  flex-basis: 18%;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: flex-end;
}

#home footer {
  height: 100px;
  color: #FFFFFF;
  background-color: #303030;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}



/*---------------------Start of #about section-----------------*/



#about .active {
  color: #968772;
}

#about main {
  background-color: #F2F1E8;
  width: 100%;
}


#about .body1 {
  width: 70%;
  font-family: 'Merriweather', serif;
  color: #131511;
  background: #F2F1E8;
  padding-top: 60px;
  padding-left: 200px;
  padding-right: 200px;
}
#about .title {
  text-align: center;
}
#about .title h1 {
  font-size: 50px;
  font-weight: 400;
}
#about .p1 {
  padding-bottom: 30px;
  font-size: 20px;
}
#about .p1 img {
  height: 120px;
  width: 160px;
  float: left;
  padding-right: 30px;
  padding-bottom: 40px;
}
#about .p1 a {
  color: #968772;
}
#about .p1 a:hover {
  color: #967343;
}

#about .p2 {
  font-style: italic;
  text-align: left;
  border-left: solid 2px;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 45px;
}
#about .p3 h2 {
  font-size: 30px;
  font-weight: 200;
}
#about .p3 p {
  padding-bottom: 50px;
  font-size: 20px;
}

#about .midimage {
  background-image: url('./images/background-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .midimage h1 {
  color: #FFFFFF;
  font-size: 45px;
  font-weight: 300;
}
#about .body2 {
  width: 70%;
  font-family: 'Merriweather', serif;
  color: #131511;
  background: #F2F1E8;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}
#about .ArticleAside {
  display: flex;
}
#about .p4 {
  padding-right: 35px;
  width: 78%;
}
#about .p4 h2{
  padding-top: 30px;
  font-size: 30px;
  font-weight: 200;
}
#about .p4 p {
  font-size: 20px;
}
#about .aside img {
  padding-top: 90px;
  height: 120px;
  width: 155px;
}
#about .aside p {
  padding-top: 20px;
  font-size: 12px;
  width: 155px;
}

#about .body2 h2 {
  font-size: 30px;
  font-weight: 200;
}
#about table {
  border-collapse: collapse;
  margin-bottom: 50px;
  width: 81%;
}

#about .lead {
  border: solid .5px;
  padding: 15px;
  margin: 0px;
  font-size: 16px;
  border-color: #131511;
}
#about .follow {
  border: solid .5px;
  border-color: #131511;
  padding: 15px;
  font-size: 16px;
}
#about .color {
  background-color: #DFD5C6;
}
#about footer {
  height: 100px;
  width: 100%;
  color: #FFFFFF;
  background-color: #303030;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}



/*-------------------Start of #newsletter section-------------*/

#newsletter .active {
  color: #968772;
}

#newsletter {
  background-image: url("./images/background-2.jpg");
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#newsletter .signup {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 45px;
  margin-bottom: 115px;
}

#newsletter .textbox {
  background-color: #FFFFFF;
  /*height: 70%;
  width: 47%;*/
  margin-top: 60px;
  margin-bottom: 115px;
  display: flex;
  flex-basis: 48%;
  flex-flow: row wrap;
  align-items: center;
}
#newsletter .titles {
  text-align: center;
  margin: 0 auto;
}
#newsletter .titles h2 {
  font-size: 25px;
  font-weight: 200;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
}
#newsletter .titles h4 {
  font-size: 20px;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
}
#newsletter .entry {
  padding: 5px 30px 30px 30px;
}

#newsletter .name {
  border: solid 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #968772;
  height: 20px;
  width: 550px;
  margin-bottom: 25px;
  padding-bottom: 3px;
}
#newsletter .name input {
  font-family: 'Roboto', serif;
  color: gray;
  font-size: 18px;
}
#newsletter .nameinput {
  border-style: none;
  outline-color: none;
  width: 550px;
}
#newsletter .email {
  border: solid 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #968772;
  height: 20px;
  width: 550px;
  padding-bottom: 3px;
}
#newsletter .email input {
  font-family: 'Roboto', serif;
  color: gray;
  font-size: 18px;
}
#newsletter .emailinput {
  border-style: none;
  outline-color: none;
  width: 550px;
}
#newsletter .submit {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#newsletter .submitinput {
  background-color: #968772;
  color: #F2F1E8;
  padding: 10px 15px 10px 15px;
  border: none;
}
#newsletter .submitinput:hover {
  background-color: #967343;
  color: #F2F1E8;
  padding: 10px 15px 10px 15px;
  border: none;
}
